:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --highlight-color: #00ff7f;
  --navbar-background-color: #f8f9fa;
  --input-background-color: #f1f3f5;
  --placeholder-color: #adb5bd;
}

body.dark-mode {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --highlight-color: #00ff7f;
  --navbar-background-color: #333;
  --input-background-color: #444;
  --placeholder-color: #ccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
}
